// Global Variables for standardization
$xxlarge-width: 1800px;
$xlarge-width: 1600px;
$large-width: 1400px;
$medium-width: 1200px;
$small-width: 1000px;
$xsmall-width: 800px;
$xxsmall-width: 600px;
$mobile-width: 400px;
