<div class="background-photo">
  <h1 class="header-text">adingwall.com</h1>
</div>
<div class="summary">
  I make stuff and do things. Mostly run.
</div>
<div class="summary">
  I make stuff and do things. Mostly run.
</div>
<div class="summary">
  I make stuff and do things. Mostly run.
</div>
<div class="summary">
  I make stuff and do things. Mostly run.
</div>
<div class="summary">
  I make stuff and do things. Mostly run.
</div>
<div class="summary">
  I make stuff and do things. Mostly run.
</div>
<div class="summary">
  I make stuff and do things. Mostly run.
</div>